
.Button *,
.Button:hover * {
	transition: all ease-in-out 0.3s;
}

.Button {
	background-color: #ff7614;
	border: 2px solid transparent;
	border-radius: 5px;
	font-weight: 700;
	align-self: center;
	padding: 4px 10px;
	margin-left: 2px;
	margin-right: 2px;
	min-width: 75px;
}

.Button:hover {
	opacity: 0.8;
	border-color: transparent;
	cursor: pointer;
}

.Button:hover:active {
	background-color: #ff7614 !important;
}

.Button:active {
	background-color: #ff7614 !important;
}

.Button:focus {
	background-color: #ff7614;
}

.Wide {
	padding: 10px 50px;
	width: 100%;
}

.Orange,
.Orange:hover {
	background-color: #ff7614;
	color: #ffffff;
}

.OrangeOutline,
.Button:disabled {
	background-color: transparent;
	border-color: #ff7614;
}
.Orange:hover {
	background-color: #ffffff;
	border-color: #ff7614;
	color: #ff7614;
}

.Orange,
.OrangeOutline:hover {
	background-color: #242a3d;
	color: #ff7614;
}

.Orange:hover,
.OrangeOutline:hover {
	background-color: #ff7614;
	color: #fff;
}

.OrangeOutline:hover span,
.OrangeOutline:hover i {
	color: #fff;
}

.Orange {
	background-color: #ff7614;
	color: #fff;
}

.BackButton {
	display: inline-flex;
    align-items: center;
    padding: 0 5px;
    position: absolute;
    left: 0;
    top: -5px;
}


@media (max-width: 375px) {
	.BackButton span {
		display: none;
	}
}
