.Form {
	border: none;
	border-bottom: 2px #ff76148a solid;
}

.Button {
	border: none;
	background-color: #242a3d;
	color: #ff7614;
	border-radius: 100px;
	padding: 4px 10px;
	min-width: 75px;
	margin: 5px;
}

.Button:hover {
	cursor: pointer;
	background-color: #ff7614;
	color: #242a3d;
}
