.Category {
	background-color: #32383c;
	border: 1px solid #40474c;
	border-radius: 5px;
	margin-bottom: 16px;
	text-align: center;
}

.CategoryTitle {
	color: #e9ecef;
	font-weight: 800;
    position: relative;
}

.MoreDropdown {
    position: absolute;
    right: 0.5em;
    top: 0;
}

.MoreDropdown i {
    font-size: 1.2rem;
}

.Category a {
    text-decoration: none;
}

.CategoryBody {
    background-color: #32383c;
}
