.Form {
	border: none;
	border-bottom: 2px #ff76148a solid;
}

.Button,
.ButtonCancel,
.Button:hover,
.ButtonCancel:hover {
	background-color: #ff7614;
	border: 2px solid #ff7614;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	padding: 4px 10px;
	min-width: 75px;
	margin: 5px;
}

.ButtonCancel {
	background-color: transparent;
}

.Button:hover,
.ButtonCancel:hover {
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.2s ease-in-out;
}
