.DashboardTitle {
    text-align: center;
}

.Card {
    background-color: #333337;
}

.CardTitle {
    color: #bdc3c7;
    font-weight: 600;
    text-align: center;

}

.CardText {
    background-color: #4A5358;
    border-radius: 5px;
    margin-top: 1em;
    padding: 15px;
}

.Asset {
    text-align: center;
}

.Link {
    font-size: 1rem;
	font-weight: 700;
	display: flex;
	align-items: center;
    justify-content: center;
	padding: 5px;
}

.Link,
.Link i {
    color: #fa6800;
}