.Toast,
.ToastHeader,
.ToastBody {
    background-color: #333337;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.ToastHeader {
    font-size: 1.4rem;
    font-weight: 800;
}

.ToastHeader button {
    display: none;
}

.ToastBody {
    border-radius: 0 0 5px 5px;
}

.Toast.Success * {
    background-color: #28a745;
}