.HomePageTitle {
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 0;
}

.HomePageIntro {
    font-size: 1.1rem;
    line-height: 1.3;
}

.BodyContainer p {
    margin-bottom: 0.5em;
}

.ContainerLast {
    margin-bottom: 6em;
}

.Card {
    background-color: #333337;
}

.CardTitle {
    color: #e9ecef;
    font-weight: 600;
    text-align: center;

}

.CardText {
    background-color: #4A5358;
    border-radius: 5px;
    margin-top: 1em;
    padding: 15px;
}

.Asset {
    text-align: center;
}

.Link {
    font-size: 1rem;
	font-weight: 700;
	display: flex;
	align-items: center;
    justify-content: center;
	padding: 5px;
}

.HomePageTitle,
.Link,
.Link i {
    color: #fa6800;
}

.StatusBadge {
	border: 1px solid #e9ecef;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0 0 0 3px;
}

.BadgeLabel,
.BadgeDate {
	color: inherit;
	text-align: center;
}

.BadgeLabel {
	font-weight: 600;
}

.BadgeDate {
	background-color: #32383C;
	border-radius: 0 5px 5px 0;
	margin-left: 0.3em;
    padding-left: 5px;
    padding-right: 5px;
}
.DueDate {
	border: 1px solid;
	color: #e9ecef;
}

.OverDue {
	background-color: #ff2b2b;
	border-color: #ff2b2b;
}

.DueToday {
	background-color: darkorange;
	border-color: darkorange;
}

.Completed {
	background-color: green;
	border-color: green;
}