.NavBar {
	background-color: #333337;
	box-shadow: 0 0 20px 0 rgba(5,6,7,0.75);
	padding: 0;
}

.NavLink,
.BrandLink {
	padding: 10px 5px;
}

.BrandLink {
	border-bottom: 2px solid transparent;
}

.Brand {
	display: flex;
    align-items: center;
    padding: 0 7px 0 0;
    margin-right: 0;
}

.Brand,
.Brand strong,
.Brand em,
.Brand i {
	color: #fa6800;
}

.Brand strong {
	font-style: italic;
	font-weight: 900;
}

.Brand i {
	font-size: 1.6rem;
	vertical-align: middle;
}

.NavLink i {
	padding: 7px 7px 7px 0;
}

.NavLink,
.NavLink i {
	color: #fa6800;
}

.NavLink {
	font-weight: 700;
	display: flex;
	align-items: center;
}

.NavLink:not(:last-child) {
	margin-right: 1.6em;
}

.NavLink .Avatar {
	margin-top: 0;
}

.BrandLink:hover,
.NavLink:hover,
.Active {
	background-color: #252528;
	border-color: #252528;
}

.NavLink:hover,
.Active {
	border-color: #fa6800;
}

.NavLink:hover,
.NavLink.active {
	border-bottom-color: #fa6800;
}

.Toggle {
	background-color: transparent;
	border: 1px solid #fa6800;
	border-radius: 5px;
	color: #fa6800;
	padding: .25rem .75rem;
}

.Toggle span {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fa6800' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
	display: block;
	height: 1.6rem;
	width: 1.6rem;
}


@media (min-width: 1023.98px) {
	.Toggle {
		display: none;
	}
}
