
.SearchWrap {
	background-color: #4A5358;
	border-radius: 5px;
}

.SearchBar input,
.SearchBar input.form-control:focus {
	background-color: #4a5358 !important;
	border-color: #4a5358 !important;
	box-shadow: none !important;
	color: #e9ecef !important;
}
.SearchBar input::placeholder {
	color: #e9ecef !important;
}
.SearchBar input {
	border-radius: 5px;
	font-weight: 600;
	padding-left: 40px;
	position: relative;
}

.SearchIcon {
	position: absolute;
	font-size: 1.2rem;
	padding: 10px;
	z-index: 1;
}

.Results p {
	background-color: #32383C;
	border-radius: 5px;
}

.Results p span:first-child {
	font-weight: 600;
}

.ResultCount i {
	color: #cfced3;
	font-size: 0.9rem;
}

.SearchIcon:hover {
	cursor: default;
	color: #cfced3;
}

/* form elements */
.Select,
.Select:focus {
	background-color: #4a5358;
	border: 0;
	box-shadow: none;
	color: #e9ecef;
}
.Select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FF5700' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	border-radius: 5px;
	font-size: clamp(0.75rem, 0.6932rem + 0.2424vw, 0.875rem);
	font-weight: 600;
	padding: 0.175rem 2.25rem 0.275rem 0.75rem;
}


.OrangeOutline {
	background-color: transparent;
	border-color: #fa6800;
	border-radius: 5px;
	color: #fa6800;
	font-weight: 600;
	padding: 0.175rem 0.75rem;
	text-align: center;
}

.OrangeOutline:hover {
	background-color: #fa6800;
	border-color: #fa6800;
}
