.Task {
	background-color: #32383c;
	border: 1px solid #40474c;
	border-radius: 5px;
	margin-bottom: 16px;
	text-align: center;
}

.TaskLink > div,
.TaskLink:hover > div {
	transition: all ease-in-out 0.3s;
}

.TaskLink:hover > div {
	background-color: #4a5358;
}

.TaskTitle {
	color: #bdc3c7;
	font-weight: 800;
	position: relative;
}

.MoreDropdown {
	font-size: 1rem;
	position: absolute;
	top: -2px;
	right: 1em;
}

.Task figure,
h5 {
	margin: 0 0;
}

.Task i {
	font-size: 1.2em;
}

.Task a {
	text-decoration: none;
}

.TaskBody {
	background-color: #32383c;
}

.TaskDetailDescription {
	background-color: #4a5358;
	border-radius: 5px;
}

.TaskBar {
	background-color: #32383c;
	margin-top: 1em;
}

.TaskBar a:hover {
	border-color: transparent;
	text-decoration: none;
}

.Meta {
	font-weight: 500;
}

.MetaDetail {
	font-size: 0.9em;
}

.StatusBadge {
	border: 1px solid #bdc3c7;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0 0 0 3px;
}

.BadgeLabel,
.BadgeDate {
	color: inherit;
	text-align: center;
}

.BadgeLabel {
	font-weight: 600;
}

.BadgeDate {
	background-color: #32383C;
	border-radius: 0 5px 5px 0;
	margin-left: 0.3em;
    padding-left: 5px;
    padding-right: 5px;
}
.DueDate {
	border: 1px solid;
	color: #bdc3c7;
}

.OverDue {
	background-color: #ff2b2b;
	border-color: #ff2b2b;
}

.DueToday {
	background-color: darkorange;
	border-color: darkorange;
}

.Completed {
	background-color: green;
	border-color: green;
}


/* Mobile Styles */
@media (max-width: 767.98px) {
	.StatusBadge {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 375px) {
	.StatusUpdateForm {
		margin-top: 2em;
		min-width: 100%;
	}
	.AssignLabel {
		margin-bottom: 1em;
		min-width: 100%;
	}
	.Assigned {
		display: flex;
		align-items: center;
		justify-content: start;
	}
	.Meta {
		display: flex;
		flex-direction: column;
	}
	.MetaItem {
		width: 100%;
	}
}
